config/i3/config
config/i3/i3blocks
config/nvim/dbui
config/nvim/plugin/packer_compiled.lua
config/vifm/vifmimgpdffile
config/vifm/vifmimgpdfpage
config/vifm/vifminfo
mutt/cache
vim/undodir
vim/plugged
vim/autoload
*.netrwhist
config/vifm/vifminfo.json
